/* Styles for entire page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}



@font-face {
  font-family: vintageFont;
  src: url(./customFonts/vintage.ttf);
}

/* Header Section */

.headerSection{
  background-image: linear-gradient(#0f0c29, #302b63, #24243e);
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 45px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-family: vintageFont,sans-serif;
  color: whitesmoke;
}

/* Section Content */

.guitarPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 45px;
  padding-top: 20px;
}
