/* Styles for entire page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #090808;
}



@font-face {
  font-family: vintage;
  src: url(./customFonts/vintage.ttf);
  font-family: vintageOne;
  src: url(./customFonts/VintageOne.ttf);
}

/* Header Section */

.headerSection{
  background-image: linear-gradient(#0f0c29, #302b63, #24243e);
 
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 45px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-family: vintageFont;
  color: whitesmoke;
}

/* Section Content */

.guitarPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 45px;
  padding-top: 20px;
}

/* Footer Section  */

.section-title, .cta-btn, .cta-btn--resume{
  color: whitesmoke;
  font-family:  vintageFont;
  text-align: none;
}

.ruschGuitar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 45px;
  padding-top: 20px;
}
